*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(97, 186, 186);
    font: normal 15px Arial;
}

header {
    color: #fff;
    text-align: center;
    padding: 30px;
}

section {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px #3839399d;
}

div{
    padding: 8px;
    font-size: 20px;
}

 div.container{
    display: flex;
    align-items:start;
    justify-content:center;
    flex-direction: column;
 }

 input{
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 input.input-btn{
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(122, 221, 221);

 }


footer{
    color: #fff;
    text-align: center;
    font-style: italic;
    padding: 30px;
}